@font-face { font-family: 'HelveticaNeueCyr UltraLight'; src: url(../fonts/HelveticaNeueCyr-UltraLight.otf); }
@font-face { font-family: 'HelveticaNeueCyr Light'; src: url(../fonts/HelveticaNeueCyr-Light.otf); }
@font-face { font-family: 'Kelson Sans RU Regular'; src: url(../fonts/Kelson_Sans_Regular_RU.otf); }
@font-face { font-family: 'Kelson Sans RU Light'; src: url(../fonts/Kelson_Sans_Light_RU.otf); }
* { margin: 0; padding: 0; font-family: "HelveticaNeueCyr UltraLight"; }

/* ======== BEGIN LOGIN PAGE ======== */
body { background: url(../img/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover; background-color: #e9e8f0; background-size: cover; height: 100vh; }

.logo_block { margin-top: 8%; }

.title_block { color: #fff; }
.title_block .title_site { font-size: 3em; margin-top: 10px; }
.title_block .title_site span { font-family: "HelveticaNeueCyr Light"; }
.title_block .description_site { font-size: 1.5em; letter-spacing: 1.6px; }

.login_block { background-color: #fff; width: 90%; height: auto; padding-top: 39px; padding-bottom: 29px; }
.login_block .login_input { width: 70%; height: 45px; border: 1px solid #e5e5e5; font-family: "HelveticaNeueCyr Light"; padding-left: 20px; padding-right: 20px; font-size: 16px; }
.login_block .login_input:focus { outline: none; color: #333; }
.login_block .password_input { margin-top: 6%; width: 70%; height: 45px; border: 1px solid #e5e5e5; padding-left: 20px; padding-right: 20px; font-size: 16px; font-family: "HelveticaNeueCyr Light"; }
.login_block .password_input:focus { outline: none; color: #333; }
.login_block .btn_login { margin-top: 8%; width: 45%; height: 50px; border-radius: 0; background-color: #1161ee; color: #fff; -webkit-transition: 0.3s; transition: 0.3s; border: none; font-size: 18px; letter-spacing: 2.6px; }
.login_block .btn_login:hover { background-color: #6295ee; color: #fff; -webkit-transition: 0.3s; transition: 0.3s; }

/* ======== END LOGIN PAGE ========*/
/* ======== BEGIN STAROSTA PAGE ======== */
.sideblock_wrapper { border: 10px solid #e9e8f0; }

.header_block { background-color: #fff; }

.header_logo_block { margin-top: 1%; font-size: 22px; padding-bottom: 5px; }
.header_logo_block img { max-width: 26%; max-height: 40%; }
.header_logo_block span { font-family: "HelveticaNeueCyr Light"; }

.title_text { font-size: 29px; margin-top: 24px; margin-left: 40px; }

.calendar_header { background-color: #f7f6f6; height: auto; padding-bottom: 16px; border-right: 9px solid #e9e8f0; }
.calendar_header .title_calendar { display: inline-block; font-size: 28px; margin-left: 4%; margin-top: 5%; }
.calendar_header img { display: inline; margin-left: 10px; max-width: 100%; }

.group_title { font-size: 28px; background-color: #f7f6f6; padding-bottom: 15px; }
.group_title .title { margin-top: 20px; }

.group_table table tr th { text-align: center; border: 1px solid #e9e8f0; font-size: 18px; }
.group_table table tr .new_element { background-color: #6bb9f0; }
.group_table table tbody tr td { font-size: 15px; font-family: "HelveticaNeueCyr Light"; border: 1px solid #f3f3f3; }

.plus_btn { width: 100%; height: 42px; background-color: #fff; border: 2px solid #1BBC9B; color: #333; -webkit-transition: 0.3s; transition: 0.3s; }
.plus_btn:hover { background-color: #1BBC9B; color: #fff; -webkit-transition: 0.3s; transition: 0.3s; }
.plus_btn:focus { outline: none; }

.calendar_block { height: auto; }

.btn_per_month, .btn_per_all_time { height: 85px; width: 100%; font-size: 17px; background-color: #89c4f4; color: #fff; border: none; -webkit-transition: 0.3s; transition: 0.3s; }
.btn_per_month:hover, .btn_per_all_time:hover { background-color: #226896; -webkit-transition: 0.3s; transition: 0.3s; }
.btn_per_month:focus, .btn_per_all_time:focus { outline: none; }

.calendar_body { border-right: 9px solid #e9e8f0; padding: 0 !important; margin: 0; }

.calendar_block ul { margin-top: 8px; }
.calendar_block ul li { list-style: none; font-size: 20px; line-height: 30px; margin-left: 5%; letter-spacing: 1.2px; }
.calendar_block ul li:focus { outline: none; }
.calendar_block ul li a { color: #333; text-decoration: none; width: 60%; display: inline-block; -webkit-transition: 0.3s; transition: 0.3s; border-right: 8px solid #ebebeb; }
.calendar_block ul li a:hover { color: #89c4f4; -webkit-transition: 0.3s; transition: 0.3s; }
.calendar_block ul li span { cursor: default; padding-left: 20%; }

.btn_per_all_time { background-color: #f4b350; }
.btn_per_all_time:hover { background-color: #f69400; }

.name_block { font-size: 25px; background-color: #f5f5f5; }
.name_block .text_name { margin-left: 15px; margin-top: 10px; margin-bottom: 0 !important; }
.name_block .text_spec { margin-left: 15px; font-size: 16px; color: #9f9fb0; letter-spacing: 1px; }

.exit_btn { background-color: #e95b4c; width: 85px; height: 50px; padding: 0 !important; border: none; font-size: 18px; color: #fff; letter-spacing: 1px; -webkit-transition: 0.3s; transition: 0.3s; }
.exit_btn:hover { background-color: #e63724; -webkit-transition: 0.3s; transition: 0.3s; }

.exit_block { background-color: #e9e8f0; padding: 0; }

.background_wrapper { background-color: #e9e8f0; height: 19vh; }

footer { height: 75px; background-color: #333; color: #fff; line-height: 75px; font-size: 19px; }
footer p { margin-bottom: 0 !important; }

/* ======== END STAROSTA PAGE ======== */
/* ======== BEGIN ADMIN PANEL ======== */
.admin_wrapper { height: 88.8vh; background-color: #e9e8f0; }

.btn_students { background-color: #f1f1f1; height: 60px; }
.btn_students p { line-height: 60px; font-size: 18px; }
.btn_students p a { font-family: "HelveticaNeueCyr Light"; width: 100%; display: block; text-decoration: none; color: #333; -webkit-transition: 0.1s; transition: 0.1s; }
.btn_students p a:hover { background-color: #1BBC9B; -webkit-transition: 0.1s; transition: 0.1s; }

.active_chapter { background-color: #1BBC9B; }
.active_chapter a { color: #fff; }

.group_list { font-family: "HelveticaNeueCyr Light"; display: inline-block; margin-left: 3%; line-height: 60px; }
.group_list button { border-radius: 0; width: 200px; }
.group_list ul li { box-shadow: 0; }
.group_list ul li a { font-family: "HelveticaNeueCyr Light"; }

.text-inline { display: inline-block; }

.group_label { font-family: "HelveticaNeueCyr Light"; font-size: 16px; }

input[type="search"] { border-radius: 0; margin-top: 14px; width: 60%; font-family: "HelveticaNeueCyr Light"; }

.hidden_element { visibility: hidden; }

/* ======== END ADMIN PANEL ======== */

/*# sourceMappingURL=main.css.map */